# RPC
rpc-http-enabled=true
graphql-http-enabled=true
rpc-ws-enabled=true
rpc-http-port=4545
graphql-http-port=4547
rpc-ws-port=4546
rpc-http-api=["ETH","NET","IBFT","WEB3","EEA","PRIV"]
## Uncomment the following lines to allow RPC from remote locations (risky)
# host-whitelist=["*"]
# rpc-http-host="0.0.0.0"
# rpc-http-cors-origins=["*"]
# graphql-http-host="0.0.0.0"


# Orion
#privacy-enabled=true
#privacy-url="http://127.0.0.1:4444"
#privacy-public-key-file="/root/lacchain/orion/keystore/nodeKey.pub"

# Networking
p2p-host="{{node_ip}}"
p2p-port=60606
bootnodes=["enode://2ef018fceeac5def4d0c1233235e23351eb0881f4f42ac2a6aec8250cd21f302c28b9153799624edc325fa86de09ecf1c81c52e413d6a1efdef3e289021dc719@34.74.49.181:60606","enode://6c1b747dd096769f4723c7f65fc7e368daa1acaae74d286b4c47416900d22d708022019114c15a31975343e334d3419e1ed847538e777ab8d592fb2e3ddca893@35.196.67.163:60606"]

# Gas
min-gas-price=0

#Metrics
metrics-push-enabled=true
metrics-push-port=9091
metrics-push-host="35.231.59.254"
metrics-push-interval=5
metrics-push-prometheus-job="{{node_name}}"
